@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

:root {
    --cor-primaria:#3f78be;
    --cor-secundaria:#f3f5fc;
    --cor-tercearia:darkblue;
    --cor-quatenaria:black;
    --cor-quinario:white;
    --cor-senario:#6d99e3;

    --fonte-primaria:"Inter", sans-serif;
    --font-secundaria:"Cinzel Decorative", serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    font-family: var(--fonte-primaria);
    height: 100%;
    margin: 0;
    padding: 0;
}

.cabecalho{

    width: 100%;
    height: 100%;
}

.cabecalho__menu{
    display: flex;
    gap: 2px;
    margin-bottom: 30px;
    background-color: var(--cor-secundaria);
}

.cabecalho__menu__logo {
    width: 8%;
    padding: 10px;
    border-radius: 100%;
}

.cabecalho__menu__titulo {
    color: var(--cor-tercearia);
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: var(--font-secundaria);
    font-weight: 700;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.container__paragrafo{
    font-size: 1.3rem;
    margin-bottom: 240px;
    text-align: center;
    font-family: var(--fonte-primaria);
}

.container__textarea{
    color:var(--cor-quatenaria) ;
    text-align: center;
    font-size: 1.25rem;
    font-family: var(--fonte-primaria);
    width: 680px;
    height: 48px;
    border-radius: 24px;
    padding: 2% 0% 0% 0%;
    cursor: pointer;
}

.container__alerta{
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 50px;

 }

 .container__imagem{
    margin-right: 5px;
}

.container__mensagem{
    color: var(--cor-quatenaria);
    font-size: 0.75rem;
}

.container__buttons{
    width: 670px;
    height: 67px;
    top: 885px;
    left: 240px;
    gap: 24px;
}

.buttons__criptografar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    background-color: var(--cor-primaria);
    color: var(--cor-quinario);
    font-size: 1rem;
    cursor: pointer;
}

.buttons__descriptografar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    background-color: var(--cor-primaria);
    color: var(--cor-quinario);
    font-size: 1rem;
    cursor: pointer;
}

.container__section1, .container__section2 {
    flex: 1;
    padding: 20px;
}

.container__section2 {
    width: 50%;
    height: 585px;
    top: 10px;
    left: 1000px;
    border-radius: 32px;
    background-color: var(--cor-octavos);
    border: 1px solid var(--cor-quinario);
    max-width: 1200px;
    margin-left: auto;
    background-color: var(--cor-primaria);
}

.output__imagem{
    width: 400px;
    height: 304px;
    left: 1032px;
    gap: 0px;
    opacity: 0px;
    margin-bottom: 15px;
    margin-left: 50px;
}

.output__texto {
    font-family: var(--fonte-primaria);
    text-align: center;
    color: var(--cor-quatenaria);
    font-size: 1.25rem;
    line-height: 24px;
    width: 300px;
    height: 122px;
    left: 1032px;
    gap: 16px;
}

.output__texto__copiar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    background-color: var(--cor-secundaria);
    color: var(--cor-quatenaria);
    font-size: 1rem;
    cursor: pointer;
    margin-left: 55px;
}

.rodape{
    padding: 15px;
    margin-top: 20px;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    height: 100%;
}


.rodape__link__mensagem{
    text-decoration: none;
    color: var(--cor-quatenaria);
    font-family: var(--fonte-primaria);
    font-weight: 700;
}

.rodape__nome{
    color: var(--cor-tercearia);
    font-family: var(--font-secundaria)
}

.rodape__icons{
    width: 20px;
}

.container__textarea:hover{
    border-radius: 24px;
}

.buttons__criptografar:hover {
    background-color: var(--cor-senario);
    color: var(--cor-quatenaria);
}

.buttons__descriptografar:hover {
    background-color: var(--cor-senario);
    color: var(--cor-quatenaria);
}

.output__texto__copiar:hover {
    background-color: var(--cor-senario);
    color: var(--cor-quinario);
}


@media (max-width: 1440px) {
    .cabecalho__menu__logo{
        margin-left: 45px;
    }
    .cabecalho__menu__titulo {
        font-size: 1.8rem;

    }

    .container,.container__section1, .container__section2 {
        flex-direction: column;
        align-items: center;
        padding: 0px 30px ;
        
    }

    .container__section1, .container__section2 {
        padding: 10px;
        width: 90%;
        max-width: none;
    }
    
    .container__section2{
        margin-right: 43%;
        width: 50%;
        margin-top: 10px;

.container__buttons, .buttons__criptografar, .buttons__descriptografar {
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
        width: 40%; /* Ajustar botões para ocuparem toda a largura disponível */
    }

.container__textarea {
        width: 95%; /* Ajustar a largura para 100% */
    }

.output__imagem {
        width: 60%; /* Ajustar largura da imagem para 100% */
        height: auto; /* Manter a proporção da imagem */
        margin-left: 40;
    }

    .output__texto {
        width: 100%; /* Ajustar a largura para 100% */
    }

    .output__texto__copiar{

        margin-left: 0px;
        width: 50%;
    }
}}

@media (max-width: 1000px){
    .buttons__criptografar,.buttons__descriptografar {
        width: 30%;
    }
}

 @media (max-width: 800px) {
    .container__textarea {
        width: 80%; /* Ajustar a largura para 100% */
    }
    .buttons__criptografar,.buttons__descriptografar {
        width: 25%;
    }
    
    
 }
  




























































































